<div class="desktop" (click)="selectedIconId = null">
  <div class="centered-text">
    WINDOWS XP BY GIANLUCA D'ARCANGELO
  </div>
  <div *ngFor="let icon of icons"
       class="icon"
       [class.selected]="selectedIconId === icon.id"
       cdkDrag
       [cdkDragFreeDragPosition]="icon.position"
       (cdkDragEnded)="onDragEnded($event, icon)"
       (click)="selectIcon($event, icon.id)"
       (dblclick)="openIcon($event, icon.id)"
       [attr.data-id]="icon.id"> <!-- Aggiungi questo attributo -->
    <img [src]="icon.image" [alt]="icon.name">
    <span>{{ icon.name }}</span>
  </div>

  <app-taskbar
    [openWindows]="openWindows"
    (startClick)="toggleStartMenu()"
    (windowClick)="onWindowClick($event)"
    (openWindow)="onOpenWindow($event)">
  </app-taskbar>

  <div class="start-menu" *ngIf="isStartMenuOpen">
    <div class="start-menu-content">
    <div class="start-menu-right-content">
      <div class="start-menu-header">
        <img src="assets/icons/user.png" alt="User">
        <span>Gianluca D'Arcangelo</span>
      </div>
      <div class="start-menu-items">
        <div class="start-menu-item" (click)="openWindow(1, 'Computer', 'assets/icons/computer.png')">
          <img src="assets/icons/computer.png" alt="Computer">
          <span>Computer</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(6, 'Paint', 'assets/icons/paint.png')">
          <img src="assets/icons/paint.png" alt="Paint">
          <span>Paint</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(3, 'CV Gianluca', 'assets/icons/cv.png')">
          <img src="assets/icons/cv.png" alt="CV">
          <span>CV Gianluca</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(4, 'Prompt', 'assets/icons/prompt.png')">
          <img src="assets/icons/prompt.png" alt="Prompt">
          <span>Prompt dei Comandi</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(5, 'README', 'assets/icons/readme.png')">
          <img src="assets/icons/readme.png" alt="Readme">
          <span>README</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(8, 'Blocco Note', 'assets/icons/paper.png')">
          <img src="assets/icons/paper.png" alt="Blocco Note">
          <span>Blocco Note</span>
        </div>
        <div class="start-menu-item" (click)="openWindow(7, 'Cestino', 'assets/icons/cestino.png')">
          <img src="assets/icons/cestino.png" alt="Cestino">
          <span>Cestino</span>
        </div>
      </div>
      <div class="start-menu-footer">
        <div class="start-menu-item" >
          <img src="assets/icons/spegni.png" alt="Spegni">
          <span>Spegni computer</span>
        </div>
      </div>
    </div>
    </div>
  </div>

  <ng-container *ngFor="let window of openWindows">
    <app-window
      *ngIf="window.isOpen"
      [id]="window.id"
      [title]="window.title"
      [icon]="window.icon"
      [zIndex]="window.zIndex"
      [windowType]="window.windowType ?? ''"
      [pdfSrc]="window.pdfSrc"
      [isMinimized]="window.isMinimized"
      (closeWindow)="closeWindow(window.id)"
      (minimizeWindow)="minimizeWindow(window.id)"
      (focusWindow)="onWindowFocus(window.id)">
      <ng-container *ngIf="window.windowType === 'prompt'">
        <div class="prompt-content">
          <p>C:\> _</p>
        </div>
      </ng-container>
      <ng-container *ngIf="window.windowType === 'cv'">
        <iframe [src]="getSafeCvPdfUrl()" width="100%" height="100%" style="border: none;"></iframe>
      </ng-container>
      <ng-container *ngIf="window.windowType !== 'cv' && window.windowType !== 'prompt'">
        Contenuto della finestra normale
        Window Type: {{ window.windowType }}
      </ng-container>
    </app-window>
  </ng-container>

</div>
