.window {
  position: absolute;
  background-color: #ECE9D8;
  border: 1px solid #0054E3;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  min-width: 200px;
  min-height: 100px;
  border-radius: 8px;
  overflow: hidden; // Cambiato da overflow-y: hidden a overflow: hidden
  transition: all 0s ease, transform 0.3s ease, opacity 0.3s ease;
  transform-origin: bottom center;
  box-sizing: border-box; // Aggiunto
  margin: 0;

  &.fullscreen {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: calc(100vh - 30px) !important; // 40px è l'altezza della taskbar
    z-index: 9999;
  }

  &.minimized {
    transform: translateY(100%) scale(0.1);
    opacity: 0;
    pointer-events: none;
  }

  &.prompt-title-bar {
    background: linear-gradient(to right, #000080, #1084d0);
    color: #ffffff;
  }

  &.prompt-window {
    background-color: #000000; // Cambiato a nero
  }

  .prompt-content {
    background-color: #000000; // Cambiato a nero
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
  }

  .prompt-output {
    margin-top: 10px;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }

  .prompt-input {
    display: flex;
    align-items: center;
    background-color: #000000; // Cambiato a nero
    width: 100%;
    padding: 10px;
  }

  .prompt-input input {
    background-color: #000000;
    color: #00FF00;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
  }

  .resize-handle {
    position: absolute;
    background: transparent;
    z-index: 10;
  }

  .resize-handle.top {
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    cursor: n-resize;
  }

  .resize-handle.right {
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    cursor: e-resize;
  }

  .resize-handle.bottom {
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    cursor: s-resize;
  }

  .resize-handle.left {
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    cursor: w-resize;
  }

  .resize-handle.top-left {
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: nw-resize;
  }

  .resize-handle.top-right {
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: ne-resize;
  }

  .resize-handle.bottom-left {
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    cursor: sw-resize;
  }

  .resize-handle.bottom-right {
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    cursor: se-resize;
  }
}

.title-bar {
  background: linear-gradient(to right, #0054E3, #2683FF);
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: move;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 35px;
}

.title-bar-text {
  display: flex;
  align-items: center;
}

.title-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  width: 24px;
  height: 24px;
  border: none;
  background-color: #D1D2D4;
  margin-left: 2px;
  cursor: pointer;

  &:hover {
    background-color: #E5E5E5;
  }

  &:active {
    background-color: #B0B0B0;
  }

  &[aria-label="Maximize"] {
    background-image: url('/assets/icons/maximize-icon.png');
    background-size: cover;
  }

  &[aria-label="Close"] {
    background-image: url('/assets/icons/close-icon.png');
    background-size: cover;
  }

  &[aria-label="Minimize"] {
    background-image: url('/assets/icons/minimize-icon.png');
    background-size: cover;
  }
}

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: #ECE9D8;
  padding: 2px 5px;
  border-bottom: 1px solid #7A96DF;
}

.nav-button {
  display: flex;
  align-items: center;
  width: auto;
  height: 36px; // Aggiornato per adattarsi all'icona
  border: none;
  background-color: transparent; // Cambiato a trasparente
  margin-right: 2px;
  cursor: pointer;
  padding: 0 5px;

  &:hover {
    background-color: #E5E5E5;
  }

  &:active {
    background-color: #B0B0B0;
  }

  &[disabled] {
    background-color: transparent; // Cambiato a trasparente
    cursor: not-allowed;

    .nav-icon {
      filter: grayscale(100%);
    }
  }

  &[aria-label="Indietro"] {
    background-image: none;
  }

  &[aria-label="Avanti"] {
    background-image: none;
  }

  &[aria-label="Cerca"] {
    background-image: none;
  }
}

.nav-separator {
  width: 1px;
  height: 24px;
  background-color: #7A96DF;
  margin: 0 10px;
}

.nav-icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.nav-text {
  font-size: 14px; // Aggiornato per adattarsi all'icona
  color: #000000;
}

.folder-path {
  background-color: #FFFFFF;
  border-bottom: 1px solid #7A96DF;
  padding: 5px;
  font-family: 'Tahoma', sans-serif;
  font-size: 11px;
}

.address-bar {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #7A96DF;
  height: 22px;
}

.address-label {
  background-color: #EBECEE;
  color: #000000;
  padding: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #7A96DF;
}

.address-content {
  display: flex;
  align-items: center;
  padding-left: 5px;
  flex-grow: 1;
}

.folder-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.path-text {
  color: #000000;
  margin-right: 5px; // Aggiungi un margine a destra
}

.avanti-icon {
  width: 25px; // Imposta la larghezza dell'icona
  height: 25px; // Imposta l'altezza dell'icona
  margin-left: auto; // Allinea l'icona a destra
  cursor: pointer; // Cambia il cursore per indicare che è cliccabile
}

.folder-path-item {
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
  display: flex;
  align-items: center;

  &:hover {
    color: #FF0000;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url('/assets/icons/folder-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.folder-path-separator {
  margin: 0 5px;
  color: #000000;
}

// Aggiungi questa classe per l'icona del desktop
.desktop-icon::before {
  background-image: url('/assets/icons/desktop-icon.png') !important;
}

.readme-content {
  font-family: 'Tahoma', 'Arial', sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  padding: 10px;
  flex-grow: 1;
  overflow-y: auto;
  height: 100%; // Aggiungere questa linea
  margin-bottom: 35px;

  h1 {
    font-size: 18px;
    font-weight: bold;
    color: #003399;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #003399;
    margin-top: 15px;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 8px;
    line-height: 1.25;
    margin-bottom: -10px;
  }

  ul, ol {
    margin-left: 20px;
    margin-bottom: 8px;
  }

  li {
    margin-bottom: 4px;
  }

  a {
    color: #0000FF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #800080;
    }
  }
}

// Aggiungi uno stile per la scrollbar simile a Windows XP
.readme-content::-webkit-scrollbar {
  width: 16px;
}

.readme-content::-webkit-scrollbar-track {
  background-color: #F1F1F1;
  border: 1px solid #C1C1C1;
}

.readme-content::-webkit-scrollbar-thumb {
  background-color: #C1C1C1;
  border: 1px solid #A1A1A1;

  &:hover {
    background-color: #A1A1A1;
  }
}

.prompt-output {
  margin-top: 10px;
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
}

.ascii-art {
  color: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
}
.window-body{
  height: 100%;
  background-color: #ffffff;
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90px; // Aumenta la larghezza
    height: 90px; // Aumenta l'altezza
    cursor: pointer; // Cambiato da default a pointer
    padding: 5px;
    border: 1px solid transparent;

    img {
      width: 64px; // Aumenta la dimensione dell'immagine
      height: 64px; // Aumenta la dimensione dell'immagine
      margin-bottom: 5px;
    }

    span {
      font-size: 14px; // Aumenta la dimensione del testo
      color: black;
      word-wrap: break-word;
    }

    &:hover {
      background-color: rgba(0, 0, 255, 0.3);
      border: 1px dotted black;
    }
  }
}

.notepad-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notepad-textarea {
  flex-grow: 1;
  width: 100%;
  border: none;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
}
